
.success{
  color: green;

}
.danger{
  color: red;
}
.warning{
  color:orange;
}

.special{
  font-family: fantasy;
  font-style: italic;
  text-transform: uppercase;
  font-size: 42px;
}