<h1> My first Angular Application </h1>


<!-- <app-employeee></app-employeee>
<app-student></app-student> -->
<!-- <app-string-interpolation></app-string-interpolation> -->
<!-- <app-property-binding></app-property-binding> -->
<!-- <app-stylebinding></app-stylebinding> -->
<!-- <app-class-binding></app-class-binding> -->
<!-- <app-eventbinding1></app-eventbinding1> -->
<!-- <app-event-binding2></app-event-binding2> -->
<!-- <app-ifdirective></app-ifdirective> -->
<!-- <app-fordirective></app-fordirective> -->
<!-- <app-switchdirective></app-switchdirective> -->
<!-- <app-parent></app-parent> -->
<!-- <app-inbuild-pipe></app-inbuild-pipe> -->
<!-- <app-custom-pipe></app-custom-pipe> -->
<!-- <app-course></app-course> -->
<app-post></app-post>